.section4{
    background: $Primary-color;
    padding: 53px 0;


    &__heading{
        color: $White-color;
        text-transform: uppercase;
        font-size: 48px;
        text-align: center;
        margin-bottom: 50px;
    }

    p{
        width: 690px;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        color: $White-color;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 45px;
    }
    
}


.section4__box{

    margin-bottom: 40px;
    &__item{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
       
       
        img{
            transition: all .4s linear;

        }
    }
    &__item img:hover{
        transform: scale(1.1);
    }

}

.section4__btn{
    display: flex;
    justify-content: space-evenly;
    
    .btn-w{
        background: $White-color;
        color: $Secondary-color;
        text-transform: uppercase;
        padding: 15px 0;
        font-size: 18px;
        font-weight: bold;
        width: 230px;
        border: none;
        border-radius: 35px;
        cursor: pointer;
        transition: all 1s linear;

        &:hover{
            background: $Secondary-color;
            color: $White-color;
        }
    }
    
}